{% extends "layout.html" %}

{% block title %}
    Set Budget
{% endblock %}

{% block main %}
    {% if budgets %}
        <h2>Current Budget</h2>
        <h4>${{budgets["budget"]}} per {{budgets["period"]}}</h4>
    {% endif %}
    <form action="/setbudget" method="post">
        <div class="mb-3">
            <select name = "period">
                <option disable selected>Length of Budget Period</option>
                {% for period in periods %}
                <option value="{{period}}">{{period}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Budget" type="number" min="0" step="0.01">
        </div>
        <div class="container">
            <label>Select Period Start Date: </label>
            <div id="datepicker" class="input-group date container-fluid py-3 text-center" data-date-format="yyyy-mm-dd">
                <input id="date" name="date" class="form-control" type="date" readonly />
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Set</button>
    </form>

{% endblock %}